@charset "utf-8";
* {
        font: 16px 'Montserrat', sans-serif;
        box-sizing: border-box;
}
html {
        scroll-behavior: smooth;
        pointer-events: auto;
        background-color: #272727;
}
body {
        color: #efefef;
        margin: 0px auto;
}
.field {
        color: #ffffff;
}
.input {
        border-radius: 1em;
        background-color: #ffffff;
        padding: 10px;       
}
.commentfield {
        height: 100px;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 10px;     
}
    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb {
      background: #00b0a6;
      border-radius: 20px;
    }
    ::-webkit-scrollbar-button {
      background-color: #00253d;
    }
    ::-webkit-scrollbar-track {
      background-color: #4d4d4d;
    }
    header {
      width: 100%;
      background-color: #215375;
      box-shadow: 0px 3px 20px #000000;
      height: 7em;
      margin: 0;
    }   
    nav{
        padding: 27px 0 0 0;
    }
nav ul {
      float: right;
    }
    nav ul li {
        padding: 0 0.75em 0 0.75em;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25em;
        position: relative;
    }
    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.25em;
    }
    nav ul li a:visited {
        color: #ffffff;
    }
    main {
        width: 70%;
        margin-bottom: 10px;
        margin: 0px auto;
        background-color: #000000;
    }
    article {
            background-color: #ffffff;
            align-content: center;
            padding: 0.375em;
            color: #AFAFAF;
    }
    section {
            padding: 5em 5em 7em 5em;
    }
    section:after {
            clear: both;
    }
    footer {
        background-color: #215375;
        color: #ffffff;
        padding: 0.5em;
        text-decoration: none;
        font-size: 1.25em;
        text-align: center;

    }
    footer p a{
        color: #ffffff;
        display: inline-block;
        margin: 5px;
        text-decoration: none;
        font-size: 1.25em;
        text-align: center;
    }
    footer p a:hover {
            color: #ffffff;
            text-decoration: none;
    }
    a {
            color: #00b0a6;
            font-weight: bold;
            text-decoration: none;
    }
    a:visited {
            color: #00b0a6;
    }
    a:hover {
            color: #006e69;
            text-decoration: underline;
    }
    h1 {
            margin: 10 px;
            padding: 0.75em;
            font-size: 3em;
            font-family: good times;
            color: #8766C7;
            text-align: center;
    }
    h2 {
            color: #ffffff;
            font-size: 2.5em;
            text-align: center;

    }
    h3 {
            font-size: 1.5em;
            text-align: center;
    }
    h4 {
            color: #ffffff;
            font-size: 1.25em;
    }
    p {
            font-size: 1.2em;
    }
    li {
            color: #ffffff;
    }
    img {
        display: block;
        margin: auto;
        text-align: center;
    }    
    button {
            background-color: #00b0a6;
            margin: 10px;
            padding: 10px 15px; 
            border-radius: 30px;
            font-size: 1em;
            color: #000000;
            border: none;
            cursor: pointer;
    }
    button a {
            color: #000000;
    }
    button a:hover {
        text-decoration: none;
    }
    button a:visited {
            color: #000000;
    }
    .bigtitle{
        font-size: 4.75em;
        font-weight: bold;
    }
    .artist{
        font-weight: bold;
        font-size: 2em;
        color: #565656;
        text-align: right;
    }
    .field{
        margin: 50px 0;
    }
    .comment {
         color: #000000; 
         padding: 20px;
    }
    input.input{
        background-color: #466172;
        color: #ffffff;
        border-color: #466172;
    }
    .input::placeholder{
            color: #8dabbe;
    }
    .input.input:active{
            border-color: #466172;;
    }
    .label {
        color: #ffffff;
    }
    textarea.commentfield {
        background-color: #466172;
        color: #f0f0f0;
        border-color: #466172;
    }
    .submitButton {
        margin: 10px;
        background-color: #00b0a6;
        color: #ffffff;
        padding: 10px;  
        border-radius: 30px;
        cursor: pointer;
    }   
    .submitButton a {
        margin: 10px;
        background-color: #00b0a6;
        color: #ffffff;
        padding: 10px;  
        border-radius: 30px;
        cursor: pointer;
    }
    .submitButton:hover{
        color: #ffffff;
        text-decoration: none;
    }
    .submitButton span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .submitButton span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .submitButton:hover span {
        padding-right: 25px;
      }
      .submitButton:hover span:after {
        opacity: 1;
        right: 0;
      }


    .deleteButton {
        margin: 10px;
        background-color: #d8454c;
        color: #ffffff;
        padding: 10px;  
        border-radius: 30px;
        cursor: pointer;
    }
    .deleteButton:hover{
        color: #ffffff;
        text-decoration: none;
    }
    /*Code by "https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1"*/
    .deleteButton span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .deleteButton span:after {
        content: 'X';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .deleteButton:hover span {
        padding-right: 25px;
      }
      .deleteButton:hover span:after {
        opacity: 1;
        right: 0;
      }
    .editButton {
        margin: 10px;
        background-color: #366499;
        color: #ffffff;
        padding: 10px;  
        border-radius: 30px;
        cursor: pointer;
    }
    .editButton:hover{
        color: #ffffff;
        text-decoration: none;
    }
    .editButton span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
        color: #ffffff;
      }
      .editButton span:after {
        content: '✎';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .editButton:hover span {
        padding-right: 25px;
      }
      .editButton:hover span:after {
        opacity: 1;
        right: 0;
      }

    /*Clear*/
    .clear {
            clear: both;
    }
    /*grid*/
    .row {
            margin: 20px;
        }
    .rowDark {
        margin: 20px 0;
        background-color: #00253d;
}
        .fullRow {
        width: 100%;
        background-color: #00253d;
        padding: 20px 50px;
        }
    .row:after {
            clear: both;
    }
    .col-1 {
            width: 8.33%;
    }
    .col-2 {
            width: 16.66%;
    }
    .col-3 {
            width: 25%;
    }
    .col-4 {
            width: 33.33%;
    }
    .col-5 {
            width: 41.66%;
    }
    .col-6 {
            width: 45%;
            margin: 10px;
    }
    .col-7 {
            width: 58.33;
    }
    .col-8 {
            width: 66.66%;
    }
    .col-9 {
            width: 75%;
    }
    .col-10 {
            width: 83.33%;
    }
    .col-11 {
            width: 91.66%;
    }
    .col-12 {
            width: 100%;
    }
    [class*="col-"] {
            float: left;
            padding: 15px;
    }
    .horizontalLine{
        margin: 20px auto;
        width: 20%;
        height: 2px;
        background-color: #a3a3a3;
    }
    .accordion {
        background-color: #00b0a6;
        color: #ffffff;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        font-size: 1.5em;
      }
      .accordion:active {
        background-color: #004b6e;     
      }
      
      .active, .accordion:hover {
        background-color: #006e69;
      }
      
      .accordion:after {
        content: '\002B';
        color: #215375;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .panel {
        padding: 20px;
        margin: 0 1.5em 0 1.5em;
        background-color: #131020;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
      
    .button span {
      position: relative;
      display: inline-block;
      transition: 0.2s;
    }
    .button span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      transition: 0.2s;
      top: 0;
      right: -10px;
    }
    .button:hover span {
      padding-right: 25px;
      right: 0;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .largeSpace{
        height: 20px;
    }
    ::selection {
      background: #00253d;
      color: #ffffff;
    }
    .headerImg {
        margin: 0;
        padding: 0 0 0 20px;
        width: 20%;
    }
   
    .sliders {
        display: none;
        }

.slideshow-container {
        margin: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




    /* Pagefading animation */
    .animate-in {
        -webkit-animation: fadeIn .5s ease-in;
        animation: fadeIn .5s ease-in;
    }
    
    .animate-out {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }
    
    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }