<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>All songs | Songpinion</title>
  </head>
  <body>
    <noscript>
      <strong>We're really sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <header>
      <span>Songpinion</span>
      <nav>
        <ul>
          <li>Submit an opinion</li>
          <li>What is Songpinion?</li>
          <li><a href="opinions.html">See all opinions</a></li>
        </ul>

      </nav>
    </header>
    <main>  

  </main>
  <div class="clear">&nbsp;</div>

    <footer>
      <p>Test, does it work?</p>    
      </footer>
    @import "~bulma/css/bulma.css";
    @import "../css/style.css";
  </body>
</html>
